service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /roles/{roleId=**} {
    	function isSuperUser() {
      	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role != null;
      }
    	allow read: if request.auth.uid != null;
      allow write: if isSuperUser();
    }
  }
}
